<div class='relative w-[100vw]'>
  <div class="mb-20">
    <%= link_to 'Retour', order_path(@order), class:'main-button' %>
  </div>

  <div class='m-auto w-[500px]'>
    <h1 class="text-4xl font-semibold mb-20">Nouvelle échéance</h1>
    <%= render 'form' %>
  </div>
</div>

<script>
  options = {
        success: function(file){
                const file_url = document.getElementById("dropbox-file-url");
                const file_name = document.getElementById("dropbox-file-name");
                const link_name = document.createElement('a');

                file_url.value = file[0].link;
                link_name.innerText = '';
                link_name.innerText = file[0].name;
                link_name.href = file[0].link;
                link_name.target = '_blank';
                file_name.appendChild(link_name);
        },
        cancel: function(){
        },
        multiselect: false,
        extensions:['.pdf', '.doc', '.docx'],
  };

  const button = Dropbox.createChooseButton(options);
  document.getElementById("dropboxContainer").appendChild(button);
</script>
