<div class='relative w-[100vw]'>
  <div class="mb-10">
    <%= link_to 'Retour', order_path(@order), class:'main-button' %>
  </div>

  <div class='m-auto w-[500px]'>
    <h1 class="text-4xl font-semibold mb-10">Modifier la commande</h1>
    <%= simple_form_for(@order) do |f| %>
      <%= render 'form', f: f  %>
      <%= f.button :submit, 'Modifier la commande', class: 'order__form-button' %>
    <% end %>
  </div>
</div>
