<div class='relative w-[100vw]'>
  <div class="mb-20">
    <%= link_to 'Retour', order_path(@order), class:'main-button' %>
  </div>

  <div class='m-auto w-[500px]'>
    <h1 class="text-4xl font-semibold mb-20">Modifier la commande</h1>
      <%= render 'form', button_name: 'Modifier la commande' %>
  </div>
</div>
