<div class='relative w-[100vw]'>
  <div class="mb-20">
    <%= link_to 'Retour', orders_path, class:'main-button' %>
  </div>

  <div class='m-auto w-[500px]'>
    <h1 class="text-4xl font-semibold mb-20">Nouvelle commande</h1>
    <%= render 'form', button_name: 'Créer la commande' %>
  </div>
</div>
